@import "../../../styles.scss";

.task-list-container {
  padding: 20px;

  .btn-add {
    background-color: $primary-color;
    color: $background-color;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}
